{% extends 'base.html.twig' %}

{% block title %}Execution index{% endblock %}

{% block body %}
    <h1>Execution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_exe</th>
                <th>Title_exe</th>
                <th>Desc_exe</th>
                <th>Status_exe</th>
                <th>CreateAt_exe</th>
                <th>UpdateAT_exe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for execution in executions %}
            <tr>
                <td>{{ execution.idExe }}</td>
                <td>{{ execution.titleExe }}</td>
                <td>{{ execution.descExe }}</td>
                <td>{{ execution.statusExe }}</td>
                <td>{{ execution.createAtExe ? execution.createAtExe|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ execution.updateATExe ? execution.updateATExe|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_execution_show', {'id_exe': execution.id_exe}) }}">show</a>
                    <a href="{{ path('app_execution_edit', {'id_exe': execution.id_exe}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_execution_new') }}">Create new</a>
{% endblock %}
