{# templates/motivation/_form.html.twig #}
{{ form_start(form) }}

    {# Titre #}
    <div class="mb-3">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        
        {% if form.title.vars.errors|length > 0 %}
            <div class="alert alert-danger mt-2">
                {% for error in form.title.vars.errors %}
                    <div class="text-danger">{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Description #}
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        
        {% if form.description.vars.errors|length > 0 %}
            <div class="alert alert-danger mt-2">
                {% for error in form.description.vars.errors %}
                    <div class="text-danger">{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Humeur #}
    <div class="mb-3">
        {{ form_label(form.mood) }}
        {{ form_widget(form.mood, {'attr': {'class': 'form-select'}}) }}
        
        {% if form.mood.vars.errors|length > 0 %}
            <div class="alert alert-danger mt-2">
                {% for error in form.mood.vars.errors %}
                    <div class="text-danger">{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {# Image #}
    <div class="mb-3">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, {'attr': {'class': 'form-control'}}) }}
        
        {% if form.imageFile.vars.errors|length > 0 %}
            <div class="alert alert-danger mt-2">
                {% for error in form.imageFile.vars.errors %}
                    <div class="text-danger">{{ error.message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

{{ form_end(form) }}
